#socials-button{
    border-radius: 9px/8px;
    height: fit-content;
    width: fit-content;
    position: fixed;
}

#socials-button:hover #logos-tray{
    display: block;
}

#logos-tray{
    position: relative;
    display: none;
    width: 50px;
}

#logos{
    margin-bottom: 1vh;
    width: 4rem;
    height: 4rem;
    border-radius: 9px/8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: rgba(255,255,255,0.2);
    padding: 25%;
}

#logos:hover{
    scale: 1.05;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to bottom right, lightcyan, darkcyan);
    transition: opacity 0.3s ease-in-out !important;
}

@media only screen and (max-width: 900px) {
    #logos{
        width: 3rem;
        height: 3rem;
    }
  }

  @media only screen and (max-width: 600px) {
    #logos{
        width: 2rem;
        height: 2rem;
    }
  }