#about-div{
    max-width: 80vw;
    margin-top: 2vh;
    padding: 1vh;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 9px/8px;
    text-align: justify;
}

.skill-logo{
    height: 90px;
    border-radius: 9px/8px;
    margin-right: 11vw;
    opacity: 0.9;
}

.skill-logo:hover{
    opacity: 1;
}

#spotify-player{
    height: 200px;
    width: 680px;
    margin-bottom: -5.5vh;
    opacity: 0.9;
}

#spotify-player:hover{
    opacity: 1;
}

#my-selfie{
    max-height: 300px;
    position: absolute;
    margin-top: -14.6vh;
    margin-left: 29.5vw;
    opacity: 0.9;
    border-radius: 9px/8px;
}

#my-selfie:hover{
    opacity: 1;
}

@media (max-width:768px){
    #about-div{
        font-size: small !important;
    }
    .skill-logo{
        margin-right: 1vw;
        width: 50px !important;
        height: 50px !important;
    }
    #my-selfie{
        max-width: 100px;
        max-height: 100px;
        margin-inline-start: -0.5vw;
        margin-top: -4vh;
    }
    #spotify-player{
        width: auto;
        height: 100px;
    }
}