#about-div{
    max-width: 80vw;
    margin-top: 2vh;
    padding: 1vh;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 9px/8px;
    text-align: justify;
}

.skill-logo{
    height: 75px;
    border-radius: 9px/8px;
    margin-right: 1vw;
    opacity: 0.9;
}

.skill-logo:hover{
    opacity: 1;
}

#spotify-player{
    height: 160px;
    width: 450px;
    margin-top: 0vh;
    margin-bottom: -1vh;
    margin-right: 0.75vw;
    opacity: 0.9;
}

#spotify-player:hover{
    opacity: 1;
}

#my-selfie{
    height: 30%;
    width: auto;
    opacity: 0.9;
    border-radius: 9px/8px;
}

#my-selfie:hover{
    opacity: 1;
}

@media (max-width:959px){
    #about-div{
        font-size: small !important;
    }
    .skill-logo{
        margin-right: 1vw;
        width: 50px !important;
        height: 50px !important;
    }
    #my-selfie{
        max-width: 100px;
        max-height: 100px;
        margin-inline-start: 25vw;
        margin-top: -4vh;
        padding-top: 1vh;
    }
    #spotify-player{
        width: 275px;
        height: 100px;
        margin-top: 0vh;
        margin-bottom: -2vh;
    }
}

@media (max-width: 390px) {
    #about-div{
        font-size: smaller !important;
    }
    .skill-logo{
        margin-right: 1vw;
        width: 30px !important;
        height: 30px !important;
    }
    #my-selfie{
        max-width: 100px;
        max-height: 100px;
        margin-inline-start: 25vw;
        margin-top: -4vh;
        padding-top: 1vh;
    }
    #spotify-player{
        width: 235px;
        height: 100px;
        margin-top: 0vh;
        margin-bottom: -2vh;
    }
  }