body{
    width: 100vw !important;
    height: 100vh !important;
    text-align: center !important;
    background-color: transparent !important;
    background-image: linear-gradient(to top, white , gray);
    animation-name: fadeInOpacity !important;
    animation-iteration-count: 1 !important;
    animation-timing-function: ease-in !important;
    animation-duration: 2s !important;
}

#background-images-div{
    max-width: fit-content !important;
    height: fit-content !important;
    margin-top: 20vh !important;
    border-radius: 50% !important;
}

#app-buttons{
    margin-top: 90vh !important;
    margin-left: 4vw !important;
    display: flex !important;
    justify-content: center !important;
    position: fixed !important;
    height: fit-content !important;
    width: fit-content !important;
    overflow: hidden !important;
    border: none !important;
    border-radius: 50% !important;
    box-shadow: 0px 5px 5px 0px black !important;
    background-color: black !important;
}
#dark-button{
    padding: 2 !important;
    font-weight: 400 !important;
    font-size: x-small !important;
    scale: 2 !important;
    width: 150% !important;
}

#light-button{
    padding: 2 !important;
    font-weight: 400 !important;
    font-size: x-small !important;
    scale: 2 !important;
    width: 150% !important;
}

#app-buttons:hover{
    scale: 1.05 !important;
}

#dark-button:hover{
    color: lightcyan !important;
}

#light-button:hover{
    background-color: lightcyan !important;
}

@media only screen and (max-width: 800px) {
    #app-buttons {
        scale: 0.85 !important;
        margin-top: 94vh !important;
        margin-left: 1vw !important;
    }
}

@media only screen and (max-width: 600px) {
    #app-buttons {
        scale: 0.7 !important;
        margin-top: 94vh !important;
        margin-left: 1vw !important;
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}