body{
    overflow: scroll !important;
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
    text-align: center !important;
    background-image: linear-gradient(to top, white , gray);
    animation-name: fadeInOpacity !important;
    animation-iteration-count: 1 !important;
    animation-timing-function: ease-in !important;
    animation-duration: 2s !important;
}
.background-images-div-style{
    display: block !important;
    max-width: fit-content !important;
    height: fit-content !important;
    margin-top: 20vh !important;
    border-radius: 50% !important;
}

.about-me-div-style {
    z-index: 999 !important;
    display: none !important;
}

.button-style{
    margin-top: 20vh !important;
    display: flex !important;
    justify-content: center !important;
    position: fixed !important;
    height: fit-content !important;
    width: fit-content !important;
    overflow: hidden !important;
    border: none !important;
    border-radius: 50% !important;
    box-shadow: 0px 5px 5px 0px black !important;
    background-color: black !important;
}

.btn{
    padding: 2 !important;
    font-weight: 400 !important;
    font-size: x-small !important;
    scale: 2 !important;
    width: 150% !important;
}

.button-style:hover{
    scale: 1.05 !important;
}

.about-me-div-style:hover {
    display: block !important;
    z-index: 999 !important;
}

.background-images-div-style:hover + .about-me-div-style {
    display: block !important;
    z-index: 999 !important;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}