.background-images-style{
    z-index: 1 !important;
    display: inline-flex !important;
    justify-content: center !important;
    width: 50vw !important;
    height: 50vh !important;
    overflow: hidden !important;
    border-radius: 50% !important;
    box-shadow: 0px 5px 5px 0px black !important;
    animation-name: fadeInOpacity !important;
    animation-iteration-count: 1 !important;
    animation-timing-function: ease-in !important;
    animation-duration: 2s !important;
    background-color: lightcyan !important;
}

.my-name-style{
    position: absolute !important;
    margin-top: 15vh !important;
}

.background-video-style{
    margin-top: -15vh !important;
    scale: 0.9 !important;
    opacity: 50% !important;
    width: 70vw !important;
    height: 70vh !important;
    border-radius: 50% !important;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}