.form-labels{
    margin-top: 2vh;
    margin-inline-start: 1vw;
}

.input-field{
    margin-top: 1vh;
    border-radius: 9px/8px;
    border: 1px solid;
    width: 300px;
    margin-inline-start: 5vw;
}

#send-button{
    border-radius: 9px/8px;
    border: 1px solid;
}