.Projects-Content{
display: inline-block;
margin-top: 250vh;
margin-bottom: 15vh;
width: 100%;
text-align: center;
animation-name: fadeInOpacity;
animation-iteration-count: 1;
animation-timing-function: ease-in;
animation-duration: 2s;
}

.Project-Tiles{
display: inline-block;
position: relative;
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
height: 600px;
width: 300px;
border-radius: 5px;
background-color: bisque;
border: solid black 1px;
}

.Project-Tiles:hover{
scale: 1.05;
}

@keyframes fadeInOpacity {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}

@keyframes float {
0% {
box-shadow: 0 5px 5px 0px rgba(0,0,0,0.3);
transform: translatey(0px);
}
50% {
box-shadow: 0 10px 10px 0px rgba(0,0,0,0.6);
transform: translatey(-5px);
}
100% {
box-shadow: 0 5px 5px 0px rgba(0,0,0,0.3);
transform: translatey(0px);
}
}