#socials-links{
    border-radius: 10% !important;
    margin-left: 2vw !important;
    width: fit-content !important;
    height: fit-content !important;
    position: fixed !important;
    animation-name: fadeInOpacity !important;
    animation-iteration-count: 1 !important;
    animation-timing-function: ease-in !important;
    animation-duration: 2s !important;
}

#socials-links:hover #logos-tray{
    display: block !important;
}

#social-links-button{
    height: 100px !important;
    width: 100px !important;
    margin-top: 5vh !important;
    border-radius: 10% !important;
    border: 0px  !important;
    background-color: transparent !important;
}

#profile-picture{
    width: 100px !important;
    height: 100px !important;
    border-radius: 10% !important;
    box-shadow: 0px 5px 5px 0px black !important;
    background-color: transparent !important;
    animation: float 5s ease-in-out infinite !important;
}

#profile-picture:hover{
    scale: 1.1 !important;
}

#logos-tray{
    margin-left: 0.5vw;
    position: absolute !important;
    display: none !important;
    border-radius: 10% !important;
}

#logos{
    margin-top: 2vh !important;
    width: 75px !important;
    height: 75px !important;
    border-radius: 50% !important;
    box-shadow: 0px 5px 5px 0px black !important;
    background-color: white !important;
    border-radius: 10% !important;
    border: white solid 2px !important;
}

#logos:hover{
    scale: 1.1 !important;
}

@media only screen and (max-width: 1400px) {
    #social-links-button {
        scale: 0.8 !important;
        margin-top: 1vh !important;
        margin-left: -3vw !important;
    }
    #profile-picture {
        scale: 0.8 !important;
    }
    #logos{
        margin-left: 0vw !important;
        margin-top: 0vh !important;
        margin-bottom: 1vh !important;
        scale: 0.8 !important;
    }
    #profile-picture:hover{
        scale: 0.9 !important;
    }
    #logos:hover{
        scale: 0.9 !important;
    }
}

@media only screen and (max-width: 800px) {
    #social-links-button {
        scale: 0.8 !important;
        margin-top: 0vh !important;
        margin-left: -4vw !important;
    }
    #profile-picture {
        scale: 0.7 !important;
    }
    #logos{
        margin-top: -2vh !important;
        margin-left: -1.5vw !important;
        margin-bottom: 1vh !important;
        scale: 0.7 !important;
    }
    #profile-picture:hover{
        scale: 0.8 !important;
    }
    #logos:hover{
        scale: 0.8 !important;
    }
}

@media only screen and (max-width: 570px) {
    #social-links-button {
        margin-left: -6vw !important;
    }
    #logos{
        margin-left: -3vw !important;
    }
}

@media only screen and (max-width: 430px) {
    #profile-picture {
        scale: 0.65 !important;
    }
    #social-links-button {
        margin-left: -7vw !important;
    }
    #logos{
        margin-top: -3vh !important;
        scale: 0.65 !important;
        margin-left: -3vw !important;
    }
    #profile-picture:hover{
        scale: 0.75 !important;
    }
    #logos:hover{
        scale: 0.75 !important;
    }
}

@media only screen and (max-width: 315px) {
    #profile-picture {
        scale: 0.5 !important;
    }
    #social-links-button {
        margin-left: -14vw !important;
    }
    #logos{
        margin-top: -4vh !important;
        scale: 0.5 !important;
        margin-left: -9vw !important;
    }
    #profile-picture:hover{
        scale: 0.6 !important;
    }
    #logos:hover{
        scale: 0.6 !important;
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes float {
    0% {
        box-shadow: 0px 5px 5px 0px black;
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0px 15px 15px 0px black;
        transform: translatey(-2px);
    }
    100% {
        box-shadow: 0px 5px 5px 0px black;
        transform: translatey(0px);
    }
}
