#socials-button{
    margin-left: -1.5vw;
    border-radius: 9px/8px;
    height: fit-content;
    width: fit-content;
    position: fixed;
}

#socials-button:hover #logos-tray{
    display: block;
}

#logos-tray{
    position: relative;
    display: none;
}

#logos{
    margin-top: 2vh;
    width: 70px;
    height: 70px;
    border-radius: 9px/8px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,0.2);
    padding: 0.75rem;
}

#logos:hover{
    scale: 1.05;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    background-image: linear-gradient(to bottom right, lightcyan, darkcyan);
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px){
    #logos{
        width: 9% !important;
        height: 9% !important;
        margin-top: 0.5vh;
    }

    #socials-button {
        width: auto;
    }
  }