#socials-buttons{
    border-radius: 10% !important;
    height: fit-content !important;
    width: fit-content !important;
    position: fixed !important;
    animation-name: fadeInOpacity !important;
    animation-iteration-count: 1 !important;
    animation-timing-function: ease-in !important;
    animation-duration: 2s !important;
}

#socials-buttons:hover #logos-tray{
    display: inline !important;
}

#my-logo{
    width: 90px !important;
    height: 90px !important;
    border-radius: 10% !important;
    background-color: transparent !important;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15) !important;
    transition: all 0.3s ease-in-out !important;
}

#my-logo:hover{
    scale: 1.05 !important;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3) !important;
    transition: opacity 0.3s ease-in-out !important;
}

#logos-tray{
    position: relative !important;
    display: none !important;
    border-radius: 10% !important;
}

#logos{
    padding: 5px;
    margin-left: 2vh !important;
    width: 70px !important;
    height: 70px !important;
    border-radius: 10% !important;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15) !important;
    transition: all 0.3s ease-in-out !important;
    background-color: silver !important;
}

#logos:hover{
    scale: 1.05 !important;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3) !important;
    transition: opacity 0.3s ease-in-out !important;
    background-image: linear-gradient(to bottom right, lightcyan, darkcyan);
}


@media only screen and (max-width: 400px) {
    #socials-buttons{
        min-width: 125vw !important;
    }
  }

  @media only screen and (max-width: 305px) {
    #socials-buttons{
        min-width: 125vw !important;
    }
  }

@keyframes fadeInOpacity {
    0% {
        opacity: 0 !important;
    }
    100% {
        opacity: 1 !important;
    }
}

/*
@keyframes float {
    0% {
        box-shadow: 0 5px 5px rgba(0,0,0,0.50);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 15px 15px rgba(0,0,0,0.50);
        transform: translatey(-3px);
    }
    100% {
        box-shadow: 0 5px 5px rgba(0,0,0,0.50);
        transform: translatey(0px);
    }
}
*/