.socials-links-style{
    margin-left: 2vw !important;
    width: fit-content !important;
    height: fit-content !important;
    position: fixed !important;
    text-align: center !important;
    animation-name: fadeInOpacity !important;
    animation-iteration-count: 1 !important;
    animation-timing-function: ease-in !important;
    animation-duration: 2s !important;
}

.socials-links-style:hover .logos-tray-style{
    display: block !important;
}

.social-links-button-style{
    height: 100px !important;
    width: 100px !important;
    margin-top: 5vh !important;
    margin-left: 0vw !important;
    border-radius: 50% !important;
    border: 0px  !important;
    background-color: transparent !important;
}

.profile-picture-style{
    width: 100px !important;
    height: 100px !important;
    border-radius: 50% !important;
    box-shadow: 0px 5px 5px 0px black !important;
    background-color: transparent !important;
    animation: float 5s ease-in-out infinite !important;
}

.profile-picture-style:hover{
    scale: 1.05 !important;
}

.logos-tray-style{
    position: absolute !important;
    display: none !important;
    border-radius: 50% !important;
}

.logos-style{
    width: 75px !important;
    height: 75px !important;
    border-radius: 50% !important;
    box-shadow: 0px 5px 5px 0px black !important;
    background-color: transparent !important;
    border-radius: 50% !important;
    border: white solid 2px !important;
}

.logos-style:hover{
    scale: 1.05 !important;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes float {
    0% {
        box-shadow: 0px 5px 5px 0px black;
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0px 15px 15px 0px black;
        transform: translatey(-5px);
    }
    100% {
        box-shadow: 0px 5px 5px 0px black;
        transform: translatey(0px);
    }
}
