#tile-3{
    padding: 2rem !important;
    margin-top: 1rem !important;
    margin-right: 1rem !important;
    margin-bottom: 1rem !important;
    margin-left: 1rem !important;
    text-align: left !important;
    height: 350px !important;
    width: 350px !important;
    border-radius: 9px/8px;
    color: black !important;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15) !important;
    transition: all 0.3s ease-in-out !important;
    opacity: 90%;
}

#tile-3:hover{
    scale: 1.05 !important;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3) !important;
    transition: opacity 0.3s ease-in-out !important;
    background-image: linear-gradient(to bottom right, lightcyan, darkcyan);
    opacity: 100%;
}

#tile-3-img{
    margin-inline-start: 50px;
    margin-top: 5px;
    max-width: 200px;
    max-height: 200px;
}