::-webkit-scrollbar {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: darkcyan;
}

body {
    background-color: darkcyan !important;
    background: linear-gradient(to bottom right, black, darkcyan);
    background-attachment: fixed;
    overflow-x: hidden;
    scroll-behavior: smooth;
    min-height: 100vh !important;
    min-width: 100vw !important;
}

h1{
    font-size: 7.5vw !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

h2{
    color: cyan !important;
    opacity: 0.5;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

p {
    text-align: justify;
    color: white;
}

h3{
    color: gray !important;
}

h5{
    text-align: justify;
    color: cyan !important;
}

li{
    color: white;
}

.socials-div {
    margin-left: 1rem;
    margin-top: 1rem;
    top: 0;
    left: 0;
    position: fixed !important;
    width: fit-content;
    border-radius: 9px/8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#title-div{
    height: 100vh;
    width: 100vw;
}

.content-div{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.sections{
    margin-bottom: 7.5vh;
}

@media only screen and (max-width: 900px) {
    .content-div {
        padding-left: 12.5%;
    }
  }

  @media only screen and (max-width: 600px) {
    .content-div {
        padding-left: 15%;
    }
  }