/*PAGE*/

body{
    text-align: left;
    background-image: linear-gradient(to bottom right, white, cyan);
    background-attachment: fixed;
    color: black;
}

::-webkit-scrollbar {
    background-color: cyan;
}

::-webkit-scrollbar-thumb {
    background-color: lightcyan;
    border-radius: 9px/8px;
}


/*TEXT*/

h1, h2, h3, h4, p{
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    font-weight:400 !important;
}

p{
    color:darkslategray;
    font-size: larger;
}

h1:hover, h2:hover, h3:hover, h4:hover, p:hover{
    text-shadow: 0 5px 15px rgba(0,0,0,0.6);
    transition: opacity 0.3s ease-in-out;
}

p:hover{
    color: navy;
}

.h1-sections{
    font-size:100px;
    opacity: 20%;
}

#link {
    color: black;
    text-decoration: none;
}


/*COMPONENTS*/

.fixed-component{
    z-index: 999;
    position: fixed;
    margin-left: 1vw;
    height: fit-content;
    width: fit-content;
    border-radius: 9px/8px;
}


/*BEHAVIOUR*/

@media only screen and (max-width: 400px) {
    #fixed-component {
      text-align: left;
      scale: 0.8;
      margin-left: -13vw;
    }
  }

  @media only screen and (max-width: 305px) {
    #fixed-component {
      scale: 0.6;
      margin-top: 2vh;
      margin-left: -23vw;
    }
  }

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}