body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    background-color: cyan !important;
    background-image: linear-gradient(to bottom right, white, cyan);
    background-attachment: fixed;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: cyan;
}

::-webkit-scrollbar-thumb {
    background-color: darkcyan;
}

h1, h2, h3, h4, h5, p, link {
    font-weight: 400 !important;
    color: black;
    text-decoration: none;
}

#title-heading{
    margin-top: 16%;
    padding-right: 50px;
    position: absolute;
    font-size: 50px;
}

.h1-sections {
    opacity: 0.2;
}

.socials-component {
    margin-left: 1%;
    margin-top: 1%;
    position: fixed !important;
    width: fit-content;
    border-radius: 9px/8px;
}

.access-component {
    margin-left: 1%;
    margin-bottom: 1%;
    bottom: 0;
    position: fixed !important;
    width: fit-content;
    border-radius: 9px/8px;
}

.content-component{
    margin-left: 11%;
    margin-top: 6%;
    margin-bottom: 6%;
}

#home-image1 {
    margin-left: 16%;
    position: absolute;
    width: 70%;
    opacity: 0.9;
}

#home-image2 {
    width: 100%;
    object-fit: cover;
    height: 200%;
    position: absolute;
    opacity: 0.6;
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}